
<p>Edad uno</p>
<input [(ngModel)]= "edadUno"  type="number">
<p>{{ edadUno }}</p>
<br>
<br>

<p>Edad dos</p>
<input [(ngModel)]= "edadDos" type="number">
<p>{{ edadDos }}</p>
<br>

<p>Promedio : {{promedioRetorno}}</p>

<p>Suma : {{ sumaRetorno }}</p>

<br>
<button (click)="promedio()">Calcular</button>
<button (click)="limpiar()">Limpiar</button>


<br>
<br>
<!-- NAVEGACION -->
<button routerLink="bienvenido">Bienvenido</button>
<button routerLink="login">Login</button>
<button routerLink="error">error</button>



<router-outlet />
